<button matButton="filled" (click)="fileImport.click()">
  <mat-icon>upload</mat-icon>
  Import File
</button>
<input
  hidden
  #fileImport
  type="file"
  accept=".yaml,.json,application/yaml,application/json"
  (change)="importFile($event)"
/>

<form (submit)="exportFile($event)">
  <mat-form-field>
    <mat-label>Player Name</mat-label>
    <input matInput [formField]="form.slot" />
    @for (error of form.slot().errors(); track error.kind) {
      <mat-error>{{ error.message }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [formField]="form.description"></textarea>
    @for (error of form.description().errors(); track error.kind) {
      <mat-error>{{ error.message }}</mat-error>
    }
  </mat-form-field>

  <mat-slide-toggle [(ngModel)]="showAd" [ngModelOptions]="{ standalone: true }"
    >Show
    <a href="https://archipelago.miraheze.org/wiki/After_Dark">After Dark</a>
    games</mat-slide-toggle
  >

  <mat-form-field>
    <mat-label>Game</mat-label>
    <mat-select [formField]="form.game">
      @for (world of filteredIndex() ?? []; track world.name) {
        @if (!world.hidden) {
          <mat-option [value]="world.game">{{ world.game }}</mat-option>
        }
      }
    </mat-select>
  </mat-form-field>

  @let schema = worldSchema();
  @let world = indexWorld();
  @if (schema !== undefined && world !== undefined) {
    <app-game-options
      [schema]="schema"
      [indexWorld]="world"
      [initialValue]="form.options().value()"
      (valueChange)="form.options().value.set($event)"
    />
  } @else if (form.game().value()) {
    <div class="loading"><mat-spinner /></div>
  }

  <button
    type="submit"
    matButton="filled"
    [disabled]="form().invalid() || worldSchema() === undefined"
  >
    <mat-icon>download</mat-icon>
    Save YAML
  </button>
</form>
