<div class="title">
  <h2>{{ schema().game }}</h2>
  <span>{{ schema().name }} v{{ schema().version }}</span>
</div>

<div class="actions">
  <strong>Visibility filter:</strong>
  <mat-button-toggle-group multiple [(ngModel)]="filter">
    <mat-button-toggle [value]="Visibility.Template">Template</mat-button-toggle>
    <mat-button-toggle [value]="Visibility.SimpleUi">Simple UI</mat-button-toggle>
    <mat-button-toggle [value]="Visibility.ComplexUi">Complex UI</mat-button-toggle>
    <mat-button-toggle [value]="Visibility.Spoiler">Spoiler</mat-button-toggle>
  </mat-button-toggle-group>

  <!-- TODO: show hidden options, expand/collapse all -->

  <strong>Actions:</strong>
  <div class="action-buttons">
    <button type="button" matButton="outlined" (click)="accordion().openAll()">
      <mat-icon>keyboard_double_arrow_down</mat-icon>
      Expand all
    </button>

    <button type="button" matButton="outlined" (click)="accordion().closeAll()">
      <mat-icon>keyboard_double_arrow_up</mat-icon>
      Collapse all
    </button>
  </div>
</div>

@if (form) {
  <mat-accordion multi>
    @for (group of schema().groups; track group.name) {
      <app-option-group [group]="group" [form]="form" [filter]="filterMask()" />
    }
  </mat-accordion>
}
